<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="appmsw-sql2xlsx.ZPM">
    <Module>
    <Name>appmsw-sql2xlsx</Name>
    <Version>1.0.0</Version>
	<Description>Solution for converting requests to excel files using the python library openpyxl.</Description>
    <Packaging>module</Packaging>
	<Keywords>python openpyxl excel xlsx</Keywords>
	<Author>
	<Person>Mikhaylenko Sergey</Person>
	<CopyrightDate>2022</CopyrightDate>
	<License>MIT</License>
	</Author>
	<SystemRequirements Version=">=2021.1" Interoperability="enabled" />
	<SourcesRoot>src</SourcesRoot>
	<Invoke Class="appmsw.python.util" Method="init" Phase="Activate" When="After"/>
	<Dependencies>
	  <ModuleReference>
      <Name>apptools-admin</Name>
        <Version>1.1.*</Version>
      </ModuleReference>
    </Dependencies>
	<Resource Name="appmsw.python.PKG"/>
    </Module>
  </Document>
</Export>
